*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  align-items: center;
  display: flex;
  background-color: black;
  justify-content: center;
}
.navbar a{
  text-decoration: none;
  color:#00a489 ;
  padding: 25px;
  font-size: 1.3;
}
.tempatLogoMenu{
  position: relative;
  padding:4px 4%;
  justify-content: space-between;
  color: #00a489;
  height: 27px;
  width: 55vh;
  display: flex;
  text-align: center;
  align-items: center;
}
.logo{
  font-size: 1.4rem;
}
.bx{
  display: none;
}
.home{
  
  height: auto;
  width: 55vh;
  background-image: linear-gradient(to bottom, #0b0d0d03,red);
  z-index: -1;
  
}
@media (max-width:460px){
  html{
    font-size: 40%;
  }
  .tempatLogoMenu{
    margin-top:-8px;
    padding:3px 1%;
  }
  .logo{
    position: relative;
    left:13px;
  }
  
}